@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';

@font-face {
  font-family: 'SF Pro Display';
  src: url('./../../shared/assets/fonts/SF-Pro-Display-Thin.ttf');
  font-weight: 200;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./../../shared/assets/fonts/SF-Pro-Display-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./../../shared/assets/fonts/SF-Pro-Display-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./../../shared/assets/fonts/SF-Pro-Display-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./../../shared/assets/fonts/SF-Pro-Display-Semibold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url('./../../shared/assets/fonts/SF-Pro-Display-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'SF UI Text';
  src: url('./../../shared/assets/fonts/SF-UI-Text-Regular.ttf');
  font-weight: 400;
}

body {
  font: var(--font-m);
}

.app {
  background: var(--bg-color);
  color: var(--main-text-color);
  min-height: 100vh;
}

// * {
//   transition: background-color 0.3s linear;
// }

.content-page {
  display: flex;
}
.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}
.page-spinner-wrapper {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  all: unset;
}
