.form {
  position: relative;
}
.LoginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SingInBtn {
  right: 13px;
  z-index: 10;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s linear;
}
.UserNameBtn {
  position: absolute;
  top: 15px;
}
.PasswordBtn {
  position: absolute;
  bottom: 15px;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}
.btnIcon {
  fill: var(--modal-icon-fill);
}
