:root {
  --font-family-main: 'SF Pro Display';
  --font-family-secondary: 'SF UI Text';

  // Sizes
  --nav-height: 44px;
  --sidebar-with: 250px;

  // Indexes
  --modal-z-index: 10;

  // Colors
  --overlay-color: rgba(0, 0, 0, 0.45);
  --settings-dark-grey: rgba(170, 170, 174, 0.15);
}
