.ArticleDetailesPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.ArticleDetailesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--nav-height) - 50px);
  width: 100%;
}
