.ArticleRecommendationsList {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  height: fit-content;
  width: calc(100% - 160px);
  max-width: 980px;
  padding: 40px 0px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--border-color);
}
.title {
  font-size: 40px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recommendations {
  margin: 0px;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .ArticleRecommendationsList {
    width: calc(100% - 60px);
  }
}
