.AccountCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.loading,
.error {
  align-items: center;
  justify-content: center;
}

.data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 20px;
  padding: 30px 20px;
}
.AccountPhoto {
  width: 150px;
  height: 150px;
  grid-column: 1/3;
  text-align: center;
}
