.addCommentForm {
  position: relative;
  display: flex;
  margin-bottom: 20px;
}
.commentMsg {
  font-size: 17px;
  border-radius: 14px;
  background-color: var(--secondary-bg-color);
  // background-color: var(--main-content-bg);
  // border: 1px solid var(--border-color);
  border: none;
  font-family: var(--font-family-secondary);
  color: var(--main-text-color);
  width: 100%;
  height: 56px;
  outline: none;
  padding: 18px 50px 18px 16px;
  width: 100%;
  letter-spacing: -0.022em;
  resize: none;
  overflow: hidden;
}
.sendCommentBtn {
  position: absolute;
  right: 13px;
  bottom: 15px;
  z-index: 3;
  &:disabled {
    cursor: default;
    .btnIcon {
      fill: rgba(153, 153, 153, 0.5);
    }
  }
}
.btnIcon {
  fill: var(--primary-color);
  width: 26px;
  height: 26px;
}
