.Sidebar {
  height: calc(100vh - var(--nav-height));
  width: var(--sidebar-with);
  background-color: var(--secondary-bg-color);
  position: relative;
  transition: width 0.25s;
  border-right: 1px solid var(--border-color);
  font-family: var(--font-family-secondary);
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.collapseBtn {
  margin-left: 20px;
  margin-top: 17px;
}

.items {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 15px;
  margin-right: 20px;
}

.icon {
  margin-left: 2px;
  fill: var(--primary-color);
}
