.Sidebar {
  height: calc(100vh - var(--nav-height));
  width: var(--sidebar-with);
  background-color: var(--secondary-bg-color);
  position: absolute;
  font-family: var(--font-family-secondary);
}

.collapseBtn {
  position: absolute;
  margin-right: 8px;
  margin-left: 10px;
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 17px;
  z-index: 2;
}

.items {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
  padding: 5px 14px 0px;
}

.icon {
  margin-left: 2px;
  fill: var(--primary-color);
}
