.ArticleViewSwitcher {
  display: flex;
}

.viewBtn {
  padding: 8px 10px;
  position: relative;
  display: flex;
  justify-content: center;
}
.viewBtnIcon {
  fill: var(--primary-color-disabled);
}
.selected {
  & .viewBtnIcon {
    fill: var(--primary-color);
  }
}
