.input-field {
  position: relative;
  max-width: 400px;
  // min-width: 328px;
  width: 100%;
  min-height: 56px;
  display: flex;
  flex-direction: column;
  &-input {
    position: relative;
    font-size: 17px;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-border);
    background-color: var(--input-bg);
    font-family: var(--font-family-secondary);
    color: var(--main-text-color);
    width: 100%;
    height: 56px;
    min-height: 56px;
    outline: none;
    padding: 18px 16px 0px;
    text-overflow: ellipsis;
    width: 100%;
    letter-spacing: -0.022em;
    text-align: left;
    transition: height 0.2s linear, min-height 0.2s linear, padding 0.2s linear,
      opacity 0.2s linear;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      border-color: #0071eb;
      box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);
      z-index: 2;
    }
    &.error {
      border-color: var(--main-red);
      background-color: var(--input-error-bg);
      &:focus {
        border-color: #0071eb;
        background-color: var(--input-bg);
      }
    }
    &:read-only {
      cursor: default;
      background-color: var(--input-bg-readonly);
      &:focus {
        border-color: var(--input-border);
        box-shadow: none;
        z-index: 2;
      }
    }
    &:-webkit-autofill {
      box-shadow: inset 0 0 0 100px var(--autocomplete-bg);
      border-color: var(--autocomplete-border);
      &:focus {
        border-color: #0071e3;
        box-shadow: 0 0 0 4px rgb(0 125 250 / 60%),
          inset 0 0 0 100px var(--autocomplete-bg);
      }
    }
  }
  &-title {
    position: absolute;
    left: 16px;
    top: 18px;
    font-size: 17px;
    user-select: none;
    color: #86868b;
    transition: transform 0.125s ease-in, font-size 0.125s ease-in,
      opacity 0.2s linear;
    pointer-events: none;
    font-family: var(--font-family-secondary);
    z-index: 3;
    cursor: text;
    &.active {
      font-size: 12px;
      transform: translateY(-8px);
      color: var(--input-title-focused);
    }
    &.error {
      color: var(--main-red);
    }
  }
  &-error {
    position: absolute;
    top: 6px;
    &-wrapper {
      display: flex;
      color: var(--main-red);
      align-items: center;
      font-size: 12px;
      height: 10px;
      z-index: 5;
      position: relative;
    }
    &-img {
      width: 12px;
      height: 12px;
      fill: var(--main-red);
      transform: translateY(1.5px);
    }
    &-msg {
      padding-left: 5px;
      line-height: 12px;
    }
  }
}
.hidden {
  height: 0px;
  min-height: 0px;
  padding: 0;
  opacity: 0;
  transition-delay: 0.2s;
}
.hiddenTitle {
  opacity: 0;
}
.without-bottom-corners {
  & .input-field-input {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
.without-top-corners {
  & .input-field-input {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: -0.5px;
  }
}
.paddingRight {
  padding-right: 43px;
}
