.ArticleHeader {
  display: flex;
  align-items: center;
  padding: 0px 14px 0 4px;
  min-height: 49.333px;
  border-bottom: 1px solid var(--border-color);
  box-sizing: content-box;
  position: relative;
  font-size: 17px;
  transition: padding 0.25s;
}
.backBtn {
  padding: 8px 4px 8px 12px;
}
.btnIcon {
  fill: var(--primary-color);
  margin-right: 7px;
}
.date {
  margin-left: auto;
}

.navbarCollapsed {
  padding-left: 56px;
}

.views {
  position: absolute;
  width: fit-content;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.editWrapper {
  margin-left: auto;
}
