.AboutPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.AboutPageInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}
