.ArticlesPageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.ArticlesPage {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 17px;
}
.ArticlePageHeader {
  display: flex;
  align-items: center;
  padding: 0px 14px 0px 10px;
  border-bottom: 1px solid var(--border-color);
  box-sizing: content-box;
  min-height: 49.333px;
  transition: padding 0.25s;
}
.navbarCollapsed {
  padding-left: 56px;
}
