.ArticlesPageWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.ArticlesPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 17px;
}
@media screen and (max-width: 666px) {
  .ArticlesPage {
    margin-top: 47px;
  }
}
