.ArticleEditPageHeader {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  box-sizing: content-box;
  min-height: 49.333px;
  transition: padding 0.25s;
}
.title {
  width: fit-content;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.ArticleEditSubheader {
  min-height: 41px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  padding: 0px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.navbarCollapsed {
  padding-left: 58px;
}
.btnIcon {
  fill: var(--primary-color);
  margin-right: 7px;
}
.createBtn {
  margin-left: auto;
}
