.app_dark_theme {
  --bg-color: #1f1f1f;
  --secondary-bg-color: #282828;
  --selection-bg-color: #ebebf51a;
  --navbar-selection-bg-color: rgba(159, 159, 165, 0.15);
  --appearence-switcher-grey: #a0a0a0a4;
  --modal-bg: rgb(29, 29, 31);
  --close-modal-btn-bg: rgb(51, 51, 54);
  --icon-main-color: #ffffff;
  --modal-icon-fill-btn: rgb(102, 102, 102);
  --modal-icon-fill-btn-disabled: #66666673;
  --close-modal-icon-fill: #969696;
  --close-modal-icon-fill-hover: #ffffff;
  --primary-color: #fa586a;
  --btn-bg: #d60017;
  --secondary-btn-bg: #ebebf529;
  --input-bg: transparent;
  --input-bg-readonly: rgba(255, 255, 255, 0.04);
  --input-border: rgb(66, 66, 69);
  --input-title-focused: #86868b;
  --input-error-bg: #d8092114;
  --modal-input-bg: rgba(255, 255, 255, 0.04);
  --border-color: #ffffff1a;
  --submenu-border: rgba(255, 255, 255, 0.2);
  --submenu-shadow: rgba(26, 24, 24, 0.774);
  --submenu-triangle-stroke: rgba(116, 116, 116, 0.2);
  --submenu-bg: #282828;
  --main-text-color: #f5f5f7;
  --secondary-text-color: #ffffffa3;
  --spinner-bg: #ffffff;
  --spinner-bg-faded: rgba(255, 255, 255, 0.25);
  --main-red: #d80921;
  --on-elem-active-filter: brightness(0.7);
  --primary-color-disabled: rgba(153, 153, 153, 0.6);
  --image-on-hover-bg: rgba(51, 51, 51, 0.3);
  --input-placeholder: rgb(153, 153, 153);
  --secondary-light-grey: #ebebf51a;
  --focus-color: #fa586a;

  color-scheme: dark;
}
