:root {
  --bg-color: #ffffff;
  --secondary-bg-color: #f8f8fc;
  --selection-bg-color: #e4e4e6;
  --navbar-selection-bg-color: rgba(134, 134, 139, 0.15);
  --appearence-switcher-grey: #ffffffa4;
  --modal-bg: #ffffff;
  --close-modal-btn-bg: rgb(232, 232, 237);
  --icon-main-color: #6e6e73;
  --modal-icon-fill-btn: #96969f;
  --modal-icon-fill-btn-disabled: #96969f80;
  --close-modal-icon-fill: #96969f;
  --close-modal-icon-fill-hover: #323232;
  --primary-color: #0071eb;
  --btn-bg: #0071eb;
  --secondary-btn-bg: #808086;
  --input-bg: transparent;
  --input-bg-readonly: #f8f8fc;
  --input-border: #d2d2d7;
  --input-title-focused: #6e6e73;
  --input-error-bg: #fff2f4;
  --modal-input-bg: transparent;
  --border-color: #e2e2e2;
  --submenu-border: rgba(0, 0, 0, 0.1);
  --submenu-shadow: rgba(0, 0, 0, 0.15);
  --submenu-triangle-stroke: rgba(0, 0, 0, 0.1);
  --submenu-bg: #ffffff;
  --main-text-color: #000000;
  --secondary-text-color: #787878;
  --spinner-bg: #343232;
  --spinner-bg-faded: rgba(52, 50, 50, 0.25);
  --main-red: #e30000;
  --on-elem-active-filter: brightness(0.6);
  --primary-color-disabled: #9b9b9b;
  --image-on-hover-bg: rgba(51, 51, 51, 0.25);
  --input-placeholder: #838388;
  --secondary-light-grey: #eeeeef;
  --focus-color: rgba(0, 125, 250, 0.7);
  --autocomplete-border: #ffe045;
  --autocomplete-bg: #fffef2;

  color-scheme: light;
}
