:root {
  --bg-color: #ffffff;
  --secondary-bg-color: #f8f8fc;
  --selection-bg-color: #e4e4e6;
  --navbar-selection-bg-color: rgba(134, 134, 139, 0.15);
  --appearence-switcher-grey: #ffffffa4;
  --modal-bg: #ffffff;
  --close-modal-btn-bg: rgb(232, 232, 237);
  --icon-main-color: #6e6e73;
  --modal-icon-fill: #6e6e73;
  --modal-icon-fill-hover: #323232;
  --primary-color: #0071eb;
  --btn-bg: #0071eb;
  --input-box-shadow: rgb(0 125 250 / 60%);
  --input-bg: #ffffff;
  --input-border: #d2d2d7;
  --input-title-focused: #6e6e73;
  --border-color: #e2e2e2;
  --submenu-border: rgba(0, 0, 0, 0.1);
  --submenu-shadow: rgba(0, 0, 0, 0.15);
  --submenu-bg: #ffffff;
  --main-text-color: #000000;
  --spinner-bg: #565656;
}
