.header {
  padding: 12px 16px;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--settings-dark-grey);
  text-overflow: ellipsis;
  overflow: hidden;
}
.mobile {
  .header {
    background: var(--submenu-bg);
    padding: 0px 3px 12px 3px;
    margin: 0 10px;
  }
}
.items {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
