.Navbar {
  width: 100%;
  height: var(--nav-height);
  background-color: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 10px 0 20px;
  border-bottom: 1px solid var(--border-color);
}

.NavbarRight {
  display: flex;
  align-items: center;
}

.SingInIcon {
  margin-right: 6px;
  fill: #f5f5f7;
}

.NavbarItem {
  position: relative;
  height: 42px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover::before {
    content: '';
    position: absolute;
    display: block;
    height: 36px;
    width: 39px;
    background-color: var(--navbar-selection-bg-color);
    border-radius: 8px;
  }
}

.ItemIcon {
  fill: var(--icon-main-color);
}

.NavbarSignin {
  margin-right: 10px;
}
.AccountBtn {
  height: 26px;
  width: 26px;
  border-radius: 14px;
}
