.StarRating {
  display: flex;
}
.star {
  stroke: var(--primary-color);
  cursor: pointer;
  padding: 0px 5px;
  box-sizing: content-box;
}
.hovered {
  fill: var(--primary-color);
}
.selected {
  cursor: default;
}
