.StarRating {
  display: flex;
  min-height: 37px;
}
.star {
  stroke: var(--primary-color);
  cursor: pointer;
  padding: 5px 0px;
}
.hovered {
  fill: var(--primary-color);
}
.selected {
  cursor: default;
}
