.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.content {
  top: 47px;
  right: 11px;
  width: 269px;
  height: fit-content;
  position: absolute;
  border-radius: 16px;
  overflow: visible;
  background: var(--submenu-bg);
  box-shadow: 0 0 15px var(--submenu-shadow), 0 0 0 1px var(--submenu-border);
  pointer-events: auto;
  transform-origin: 249px 0px;
  transform: scale(0.5);
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  color: var(--main-text-color);
  user-select: none;
}

.opened {
  & .overlay {
    pointer-events: all;
  }
  & .content {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}
.isClosing {
  & .content {
    opacity: 0;
    transition: opacity 0.25s;
  }
}
