.dropdown-input {
  & .input-field-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-color: var(--input-border);
    background-color: var(--input-bg);
    padding-right: 43px;
    &:focus {
      border-color: #0071eb;
      box-shadow: 0 0 0 4px rgb(0 125 250 / 60%);
      z-index: 2;
    }
    &:disabled {
      cursor: default;
      opacity: 1;
      background-color: var(--input-bg-readonly);
      &:focus {
        border-color: var(--input-border);
        box-shadow: none;
        z-index: 2;
      }
    }
  }
  &-icon {
    position: absolute;
    right: 18px;
    top: 26px;
    width: 11px;
    height: 6px;
    pointer-events: none;
    z-index: 3;
  }
  & .input-field-input option {
    background: var(--secondary-bg-color);
    color: var(--main-text-color);
  }
}
