.item {
  color: var(--tab-item-text);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 5px;
  font-family: var(--font-family-secondary);
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  flex: 1;
  &.selected {
    color: var(--primary-color);
    & .icon {
      fill: var(--primary-color);
    }
  }
}
.icon {
  fill: var(--tab-item-text);
}
.divider {
  width: 1px;
  height: 30px;
  background-color: var(--border-color);
}
