.SettingsThemeSwitcher {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0 0 0 1px var(--border-color);
  border-radius: 7px;
  background-color: var(--border-color);
  line-height: 24px;
  position: relative;
}
.item {
  padding: 0 7px;
  border-radius: 7px;
  z-index: 2;
  position: relative;
  display: flex;
  justify-content: center;
}
.active {
  background-color: var(--appearence-switcher-grey);
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border-radius: 7px;
  transition: transform 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.light {
  transform: translateX(0);
}
.dark {
  transform: translateX(100%);
}
