.AppLink {
  color: var(--main-text-color);
  text-decoration: none;
}
.apple-link {
  font-weight: 400;
  font-size: 17px;
  padding: 8px 0px;
  letter-spacing: 0.022em;
  color: var(--primary-color);
  transition: filter 0.1s;
  display: flex;
  align-items: center;
  &:active {
    filter: var(--on-elem-active-filter);
  }
}
