.AccountPageHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 4px 0px 14px;
  border-bottom: 1px solid var(--border-color);
  box-sizing: content-box;
  min-height: 50px;
  position: relative;
}

.title {
  width: fit-content;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.btns {
  display: flex;
  height: fit-content;
  align-items: center;
}

.separator {
  border-left: 1px solid var(--border-color);
  height: 22px;
}
